.bg_blue {
  background-color: #020b36 !important;
}

.bg_red {
  background-color: #c03b32;
}

.bg_skyblue {
  background-color: #6db8d2;
}

.bg_green {
  background-color: #82c032;
}

.bg_dark {
  background-color: #000912;
}
.bg_orange {
  background-color: #f58200;
}
.bg_purple {
  background-color: #c69;
}
:root {
  --bg_dark: #000912;
  --bg_blue: #020b36;
  --bg_red: #c03b32;
  --bg_skyblue: #6db8d2;
  --bg_green: #82c032;
}

.bg_arrow {
  background-color: #d4eaff;
  opacity: 0.2;
}
